button {
    width: 100%;
    max-width: 350px;
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: clamp(1rem, 4vw, 1.8rem);
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    cursor: none;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6), 0 0 15px 5px rgba(0, 0, 0, 1);
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, orange, gold);
}

button:active {
    transform: scale(1);
}

#pauseButton {
    display: none;
    position: absolute;
    top: 30px;
    left: 45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 40px;
}

.toggleBtn {
    gap: 20px;
}

.toggleBtn button {
    width: 162px;
    background: rgba(0, 0, 0, 0);
    color: gold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 0 20px rgb(255, 217, 0), 0 0 15px 5px rgba(0, 0, 0, 1);
    border: 1px solid gold;
}

.toggleBtn button.active {
    border: 1px solid gold;
    box-shadow: 0 0 20px gold;
    background: rgba(255, 217, 0, 0.726);
}

.toggleBtn button:hover {
    transform: scale(1.1);
}

#soundButton:hover,
#resumeButton:hover,
#restartButton:hover,
#rankingButton:hover,
#menuButton:hover {
    transform: scale(1.1);
}

#soundButton {
    display: none;
}

#settingsButtonPause {
    top: 80px;
    right: 20px;
}

#gameButtons,
#gameOverButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 15px;
    width: 100%;
    z-index: 2500;
}

#gameOverButtons {
    margin-top: 360px;
}

body.gameover #gameButtons {
    position: fixed;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
}

body.pause #gameButtons {
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
}

#restartButton,
#menuButton {
    z-index: 2000;
}

#life1,
#life2,
#life3 {
    display: none;
    z-index: 1000;
    opacity: 0.9;
}
.settings-content button {
    margin-top: 25px;
}

body.custom-cursor:not(.no-custom-cursor) {
    cursor: none;
}

body.no-custom-cursor button {
    cursor: pointer;
}

body.no-custom-cursor {
    cursor: auto;
}

.gameover-score span {
    color: red;
    text-shadow: 5px 5px 7px rgb(0, 0, 0), 0 0 20px rgb(128, 108, 1), 0 0 20px rgb(0, 0, 0);
}

#difficultyButton {
    position: relative;
    overflow: hidden;
    color: black;
}

#difficultyText.easy {
    color: #ff7300;
    text-shadow:
        -0.7px -0.7px 0 black,
        0.7px -0.7px 0 black,
        -0.7px 0.7px 0 black,
        0.7px 0.7px 0 black;
}

#difficultyText.hard {
    color: #c51400;
    text-shadow:
        -0.7px -0.7px 0 black,
        0.7px -0.7px 0 black,
        -0.7px 0.7px 0 black,
        0.7px 0.7px 0 black;
}

#difficultyText.expert {
    color: #020202;
    text-shadow:
        -0.7px -0.7px 0 rgb(238, 0, 0),
        0.7px -0.7px 0 rgb(255, 5, 5),
        -0.7px 0.7px 0 rgb(255, 0, 0),
        0.7px 0.7px 0 rgb(253, 5, 5);
}

#difficultyText.training {
    color: #38b49b;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

#difficultyButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.4s;
}

#difficultyButton:hover::after {
    left: 100%;
}

#trainingDifficultyButton {
    width: 228px;
    padding: 12px 30px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 25px;
    border-radius: 15px;
    z-index: 2000;
}

#cursorChoices {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
    margin-bottom: 0;
}

.cursor-option {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 0.2s, border 0.2s;
}

.volumeSlider {
    -webkit-appearance: none;
    width: 220px;
    height: 8px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, gold 50%, white 50%);
    box-shadow: 0 0 10px gold;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

#cursorSizeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, gold 50%, white 50%);
    box-shadow: 0 0 10px gold;
}

#cursorSizeSlider:focus-visible {
    outline: 2px solid gold;
    outline-offset: 4px;
    box-shadow: 0 0 10px gold; 
}

#cursorSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gold;
    border: 2px solid transparent;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px gold;
}

#cursorSizeSlider:focus-visible::-webkit-slider-thumb {
    border: 2px solid gold;
    box-shadow: 0 0 6px gold;
}

.cursor-option:hover {
    transform: scale(1.2);
}

.cursor-option.selected {
    border: 2px solid gold;
    box-shadow: 0 0 10px gold;
    outline: none;
}

.cursor-option:focus-visible {
    border: 2px solid rgb(253, 253, 252);
    outline: none;
}

input[type="range"] {
    outline: none;
}

input[type="range"]:focus-visible {
    outline: 2px solid gold;
    outline-offset: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    border: 2px solid transparent;
    transition: 0.2s;
}

input[type="range"]:focus-visible::-webkit-slider-thumb {
    border: 2px solid gold;
    box-shadow: 0 0 6px gold;
}
