* {
    cursor: crosshair ;
}

body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
    background: url("image/photo_bubble.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Winky Rough", sans-serif;
}

.bubble {
    position: absolute;
    z-index: 1000;
    border-radius: 50%;
    background: green;
    opacity: 0.5;
    border: 1px solid black;
    pointer-events: auto;  
    animation: anim 6s;
    filter: hue-rotate(0deg);
}

.bubble.bad-bubble {
    filter: none !important; 
    pointer-events: auto; 
    z-index: 1000;
}

@keyframes anim {
    to{
        top: -300px;
        opacity: 1;
        filter: hue-rotate(255deg)
    }
}

h3 {
    font-size: 14rem;
    text-align: center;
    color: gold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9), 0 0 12px rgba(0, 0, 0, 0.7);
    user-select: none; 
    outline: none; 
    z-index: 999;
    position: relative;

}

#playerInputContainer {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    user-select: none;
}

#playerName {
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6), 0 0 15px 5px rgba(0, 0, 0, 1);
    font-family: "Winky Rough", sans-serif;
    text-align: center;
    outline: none;
    cursor: text;
}

#playerName::placeholder {
    color: black;
    opacity: 0.7;
}

#playerName:focus {
    background: linear-gradient(135deg, orange, gold);
}

#YourScore {
    display: none; 
    font-size: 7rem;
    text-align: center;
    color: gold; 
    position: absolute; 
    user-select: none; 
    outline: none; 
    top: 40%;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 999; 
    margin-top: 100px; 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9), 0 0 12px rgba(0, 0, 0, 0.7);
}

#restartButton {
    display: none;
    position: absolute;
    top: 75%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: 2rem;
    padding: 1rem ;
    border: none;
    border-radius: 50%!important;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background 0.3s ease;
    margin-top: 60px; 
    font-family: "Winky Rough", sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1); 
    user-select: none; 
    outline: none; 
}

#startButton {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: 2rem;
    padding: 1rem 2.2rem;
    border: none;
    border-radius:50%!important;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background 0.3s ease;
    font-family: "Winky Rough", sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1); 
}

#restartButton:hover, #rankingButton:hover, #startButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background: linear-gradient(135deg, orange, gold);
}

#restartButton:active, #rankingButton:active, #startButton:active {
    transform: translate(-50%, -50%) scale(1);
}

#lifes-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 999;
    user-select: none; 
    outline: none; 
}

#rankingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    border-radius: 10px;
    z-index: 1001;
    display: none;
    flex-direction: column;
    justify-content: center;
  }
  
#rankingContainer {
    color: gold;
    text-align: center;
    font-family: "Winky Rough", sans-serif;
}
  
#rankingList {
    list-style: none;
    padding: 0;
    font-size: 2rem;
}
  
#rankingList li {
    margin: 1rem 0;
}

.ranking-title {
    font-size: 3rem;
}
  
#closeRankingModal {
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-family: "Winky Rough", sans-serif;
    transition: transform 0.3s ease;
}

#closeRankingModal:hover {
    transform: scale(1.1);
}
  
#rankingButton {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s ease, background 0.3s ease;
    font-family: "Winky Rough", sans-serif;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1); 
}
  
#rankingButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
  
#rankingButton:active {
    transform: translate(-50%, -50%) scale(1);
}
  
@keyframes pulse-scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.7);
    }
  }
  
.pulse-life {
    animation: pulse-scale 0.4s ease-in-out infinite;
}
  
#life1, #life2, #life3 {
    display: none;
    user-select: none; 
    outline: none; 
    pointer-events: none;
}

#lifes-container img {
    width: 7rem; 
    height: auto;
    z-index: 999;
}

#gameOverBackground {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 0; 
}
 @media (min-width: 1440px){
    h3 {
        font-size: 12rem;  
        margin-top: 200px;
    }

    #YourScore {
        font-size: 6rem;  
        margin-top: 67px; 
    }

    #restartButton {
        font-size: 1.8rem;  
        border-radius:50%!important;
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 9%;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 8%;
    }

    #gameOverBackground {
        width: 60%;  
        height: 60%;
    }

    #rankingModal {
        width: 20%;
        padding: 3rem;
    }

    .ranking-title {
        font-size: 35px;
    }

    #rankingList {
        font-size: 1.7rem;
    }

    #closeRankingModal {
        font-size: 24px;
        padding: 6px 13px;
    }

    #rankingButton {
        font-size: 1.8rem;
    }
}
 
@media (max-width: 1800px) and (min-width: 1400px) {
    h3 {
        font-size: 12rem;  
        margin-top: 200px;
    }

    #YourScore {
        font-size: 6rem;  
        margin-top: 67px; 
    }

    #restartButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 9%;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 8%;
    }

    #gameOverBackground {
        width: 60%;  
        height: 60%;
    }

    #rankingModal {
        width: 20%;
        padding: 3rem;
    }

    .ranking-title {
        font-size: 35px;
    }

    #rankingList {
        font-size: 1.7rem;
    }

    #closeRankingModal {
        font-size: 24px;
        padding: 6px 13px;
    }

    #rankingButton {
        font-size: 1.8rem;
    }
}


@media (max-width: 1399px) and (min-width: 1024px) {
    h3 {
        font-size: 10rem;
        margin-top: 130px;
        z-index: 999; 
        position: relative;
        padding-top: 4rem;
    }

    #YourScore {
        font-size: 5rem;
        margin-top: 60px;
    }

    #restartButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 12%;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 12%;  
    }

    #gameOverBackground { 
        width: 50%;
        height: 50%;
    }

    #rankingModal {
        padding: 3.5rem;
    }

    .ranking-title {
        font-size: 2.5rem;
    }

    #rankingList {
        font-size: 1.5rem;
    }

    #closeRankingModal {
        font-size: 1.6rem;
        padding: 0.5rem 1.2rem;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    h3 {
        font-size: 9rem;
        margin-top: 145px;
    }

    #YourScore {
        font-size: 4rem;
        top: 30%;
        margin-top: 120px;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 14%;
    }

    #restartButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 17%;
    }

    #rankingModal {
        width: 30%;
        padding: 1.2rem;
    }

    .ranking-title {
        font-size: 2rem;
    }

    #rankingList {
        font-size: 1.3rem;
    }

    #closeRankingModal {
        font-size: 1.4rem;
        padding: 0.4rem 1rem;
    
    }

    #rankingButton {
        font-size: 1.4rem;
        padding: 0.8rem 1.8rem;
    }
}

@media (max-width: 767px) and (min-width: 480px){
    h3 {
        font-size: 11rem;
        margin-top: 60px;
    }

    #YourScore {
        font-size: 2.5rem;
        top: 28%;
        margin-top: 55px;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 20%;
    }

    #restartButton {
        font-size: 22px;
        border-radius: 50% !important;
        margin-top: 23px;
        padding: 1px;
        width: 16%;
    }

    #rankingModal {
        width: 45%;
        padding: 1rem;
    }

    .ranking-title {
        font-size: 1.5rem;
    }

    #rankingList {
        font-size: 1.1rem;
    }

    #closeRankingModal {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
    }

    #rankingButton {
        font-size: 1.1rem;
        padding: 0.6rem 1.2rem;
        margin: -11% 0%;
    }
}

@media (max-width: 479px)  {
    h3 {
        font-size: 9rem;
        margin-top: 63px;
    }

    #YourScore {
        font-size: 29px;
        top: 28%;
        margin-top: 40px;
    }

    #startButton {
        font-size: 1.8rem;  
        border-radius:50%!important;; 
        margin-top: 23px; 
        padding: 1rem 1rem;
        width: 30%;
    }

    #restartButton {
        font-size: 1.8rem;
        border-radius: 50% !important;
        margin-top: 23px;
        padding: 1px;
        width: 27%;
    }

    #rankingModal {
        width: 80%;
        padding: 1rem;
    }

    .ranking-title {
        font-size: 1.5rem;
    }

    #rankingList {
        font-size: 1.1rem;
    }

    #closeRankingModal {
        font-size: 1.2rem;
        padding: 0.3rem 0.8rem;
    }

    #rankingButton {
        font-size: 1.1rem;
        padding: 0.6rem 1.2rem;
        margin: -20% 0%;
    }

    #playerName {
        background: linear-gradient(135deg, gold, orange);
        color: black;
        font-size: 2rem;
        padding: 2% 0;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 0 0 20px rgba(255, 215, 0, 0.6), 0 0 15px 5px rgba(0, 0, 0, 1);
        font-family: "Winky Rough", sans-serif;
        text-align: center;
        outline: none;
        cursor: text;
    }
} 