* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Rough", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: url("image/photo_bubble.jpg") center/cover no-repeat;
    overflow: hidden;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

body,
#score,
#YourScore {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#playerName {
    user-select: text;
    -webkit-user-select: text;
}

::selection {
    background: rgb(158, 0, 0);
    color: black;
}

#ui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 1rem;
    position: relative;
    z-index: 10;
}

#score,
#YourScore,
#restartButton,
#rankingButton,
#menuButton {
    z-index: 20;
    position: relative;
}

#resumeButton {
    z-index: 2000;
    position: relative;
}

#topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lifes-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}

#lifes-container img {
    width: clamp(40px, 8vw, 90px);
    z-index: 5;
    position: relative;

}

#title {
    text-align: center;
    font-size: clamp(2.5rem, 10vw, 10rem);
    color: gold;
    margin-top: 50px;
    text-shadow:
        5px 5px 7px rgb(0, 0, 0),
        0 0 20px rgb(219, 0, 0),
        0 0 20px rgb(206, 1, 1);
}

#score {
    display: none;
    text-align: center;
    font-size: clamp(3rem, 10vw, 10rem);
    color: gold;
    position: fixed;
    top: 140px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    text-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.9),
        0 0 12px rgba(0, 0, 0, 0.7);
}

#menu {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#menu input {
    padding: 15px;
}

#playerName {
    padding: 15px;
    width: 100%;
    max-width: 350px;
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: clamp(1.2rem, 4vw, 2rem);
    cursor: text;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.6),
        0 0 15px 5px rgba(0, 0, 0, 1);
}

#playerName::placeholder {
    color: black;
    opacity: 0.5;
}

#playerName:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px gold, 0 0 20px orange;
}

#playerName:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(231, 197, 1) inset !important;
}

#playerName:hover {
    box-shadow: 0 0 20px gold;
    border: 1px solid black;
}

.bubble-inner.bad-bubble {
    background: red;
}

.bubble {
    position: absolute;
    animation: anim linear forwards;
    z-index: 2000;
}

.bubble-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    border: 2px solid black;
    transform: scale(1);
    transition: transform 0.2s ease, opacity 0.2s;
}

.bubble.pop .bubble-inner {
    transform: scale(1.3);
    opacity: 0;
}

@keyframes anim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-150vh);
    }
}

.bubble-inner.special {
    opacity: 1;
    box-shadow: 0 0 20px violet, 0 0 40px cyan;
}

@keyframes animHorizontal {
    from {
        transform: translateX(-130px);
    }

    to {
        transform: translateX(120vw);
    }
}

.heart {
    background: none !important;
    border: none !important;
    opacity: 0.9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    animation: pulseHeart 0.6s infinite;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

@keyframes pulseHeart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }

    50% {
        transform: scale(1.2);
        filter: brightness(2);
    }

    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

#YourScore {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    text-align: center;
    margin-top: 80px;
}

.gameover-score {
    margin-top: -30px;
}

.gameover-title {
    font-size: clamp(3rem, 10vw, 10rem);
    color: red;
    font-weight: bold;
    text-shadow:
        5px 5px 7px gold,
        0 0 20px rgb(0, 0, 0),
        0 0 20px rgb(0, 0, 0);
}

.gameover-score {
    font-size: clamp(1.5rem, 5vw, 4.5rem);
    color: gold;
}

#score,
#YourScore {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
    text-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.9),
        0 0 12px rgba(0, 0, 0, 0.7);
}

#gameOverBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 1;
}

button {
    width: 100%;
    max-width: 350px;
    background: linear-gradient(135deg, gold, orange);
    color: black;
    font-size: clamp(1rem, 4vw, 1.8rem);
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
    cursor: none;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.6),
        0 0 15px 5px rgba(0, 0, 0, 1);
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, orange, gold);
}

button:active {
    transform: scale(1);
}

#pauseButton {
    display: none;
    position: absolute;
    top: 30px;
    left: 45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 40px;
}

#soundButton:hover,
#resumeButton:hover,
#restartButton:hover,
#rankingButton:hover,
#menuButton:hover {
    transform: scale(1.1);
}

#soundButton {
    display: none;
}

#gameButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    z-index: 2500;
}

body.gameover #gameButtons {
    position: fixed;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
}

body.pause #gameButtons {
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
}

#restartButton,
#menuButton {
    z-index: 2000;
}

#life1,
#life2,
#life3 {
    display: none;
    z-index: 1000;
    opacity: 0.9;
}

#rankingPopup {
    position: fixed;
    inset: 0;
    z-index: 3000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

#rankingPopup>* {
    width: auto;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: gold;
    padding: 30px;
    border-radius: 20px;
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.8),
        0 0 15px 5px rgba(0, 0, 0, 1);
}

#closeRanking {
    width: 100%;
    cursor: pointer;
}

#rankingPopup h2 {
    font-size: clamp(2rem, 5vw, 2.2rem);
}

#rankingList {
    margin: 25px 0;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    width: 100%;
    max-width: 350px;
}

#closeAudio {
    width: auto;
    max-width: none;
    padding: 5px 10px;
    color: gold;
    font-size: 20px;
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#closeAudio:hover {
    transform: scale(1.2);
}

.popup-content {
    position: relative;
    display: flex;
    align-items: center;
    width: min(90%, 300px);
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    gap: 15px;
}

#audioPopup {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);

    z-index: 3000;

    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
}

#audioPopup.active {
    opacity: 1;
    pointer-events: auto;
}

#audioPopup.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#soundToggle {
    font-size: 30px;
    background: none;
    border: none;
    background-color: rgb(191 163 0);
    box-shadow: 0 0 20px rgb(155, 155, 155);
    cursor: pointer;
}

#volumeSlider {
    -webkit-appearance: none;
    width: 235px;
    height: 6px;
    border-radius: 5px;
    outline: none;
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

#customCursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#cursorPopup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

#cursorPopup.active {
    display: flex;
}

.cursor-content {
    background: black;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: gold;
    box-shadow: 0 0 20px gold;
}

#cursorPreview {
    width: 100px; 
    height: 100px;
    margin: 20px 0;
    pointer-events: none;
}

#validateCursor {
    margin-top: 20px;
      cursor: pointer;
}

#cursorSizeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, gold 50%, white 50%);
}

#cursorSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

@media (max-width: 768px) {

    #title {
        font-size: 85px;
    }

    #YourScore {
        margin-top: 185px;
    }

    #score {
        font-size: 140px;
    }

    #lifes-container img {
        width: 60px;
        height: 60px;
    }

    #pauseButton {
        width: 60px;
        height: 60px;
        font-size: 25px;
        top: 10px;
        left: 10px;
    }

    #gameOverBackground {
        margin-top: 53px;
        object-fit: cover;
        object-position: center;
        transform: scale(1.6);
    }

    .gameover-title {
        font-size: 70px;
    }

    .gameover-score {
        font-size: 55px;
        margin-top: -20px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    #title {
        font-size: clamp(5rem, 8vw, 7rem);
    }

    #menu {
        max-width: 355px;
    }

    .gameover-title {
        font-size: 125px;
    }

    .gameover-score {
        font-size: 70px;
        margin-top: -30px;
    }

    #pauseButton {
        width: 75px;
        height: 75px;
        font-size: 30px;
        top: 20px;
        left: 20px;
    }
}

@media (min-width: 1800px) {

    #title {
        font-size: 12rem;
    }

    #score {
        font-size: 12rem;
    }

    #playerName {
        max-width: 500px;
    }

    .gameover-title {
        font-size: 12rem;
        margin-top: 75px;
    }

    .gameover-score {
        font-size: 5rem;
    }

    button {
        font-size: 2rem;
        padding: 1.5rem;
        max-width: 500px;
    }

}